.about {
  padding: 98px 0 86px;
  background-color: $black;

  &__title {
    margin: 0;
    margin-bottom: 11px;
    color: $white;
  }

  &__text-wrapper {
    position: relative;
    margin-bottom: $margin;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 445px;
      height: 290px;
      background-image: url("img/about-deco.webp");
      background-position: 100% 0;
      background-size: 445px 290px;
      background-repeat: no-repeat;
    }
  }

  &__text {
    margin: 0;
    max-width: 634px;
    font-weight: 400;
    font-size: $fs;
    line-height: $biggest_lh;
    color: $dark_gray;

    &:first-of-type {
      margin-bottom: 7px;
      font-weight: 700;
    }
  }

  &__slide-name {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: $fs;
    line-height: $lh;
    color: $white;
  }

  &__slide-desc {
    margin: 0;
    font-weight: 400;
    font-size: $small_fs;
    line-height: $big_lh;
    color: $dark_gray;
  }

  &__form {
    max-width: 920px;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }

  &__input {
    border: solid 1px $white;
    border-radius: $border_radius;
    padding: 24px 31px;
    font-weight: 400;
    font-size: $fs;
    line-height: $lh;
    color: $white;
    background-color: transparent;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;

    &:focus-visible {
      outline: none;
      border-color: $light_blue;
      background-color: $light_black;
    }

    &::placeholder {
      font-family: inherit;
      font-weight: 400;
      font-size: $fs;
      line-height: $lh;
      color: $dark_gray;
    }

    &.is-invalid {
      border: #D52B1E 1px solid;
    }

    &.is-valid {
      border: #B8EC64 1px solid;
    }
  }

  &__textarea-label {
    margin-bottom: $margin;
    width: 100%;
  }

  &__checkbox-label {
    position: relative;

    ~.is-label-invalid {
      position: static;
    }
  }

  &__textarea {
    border-radius: $smaller_border_radius;
    padding: 30px 32px;
    min-height: 150px;
    resize: none;
  }

  &__name-label {
    display: inline-flex;
    margin-right: $margin;
    width: calc(50% - 18px);
  }

  &__email-label {
    display: inline-flex;
    margin-bottom: $margin;
    width: calc(50% - 18px);
  }

  &__btn {
    margin-bottom: 22px;
    border-radius: $border_radius;
    padding: 25px 54px;
    font-weight: 500;
    font-size: $fs;
    line-height: $lh;
    color: $white;
    background-color: $blue;

    &:focus-visible {
      outline: none;
      background-color: $light_blue;
    }
  }

  &__checkbox {
    &:focus-visible+.about__visible-checkbox {
      outline: 2px solid $blue;
      outline-offset: 1px;
    }

    &:checked~.about__visible-checkbox::before {
      opacity: 1;
    }
  }

  &__visible-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    border: 1px solid $white;
    width: 14px;
    height: 14px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-bottom: 2px solid $light_blue;
      border-left: 2px solid $light_blue;
      width: 7px;
      height: 4px;
      opacity: 0;
      transform: translate(-50%, -60%) rotate(-45deg);
      transition: opacity .2s ease-in-out;
    }
  }

  &__checkbox-text {
    display: inline-block;
    font-weight: 500;
    font-size: $very_small_fs;
    line-height: $smallest_lh;
    color: $white;
  }

  &__slider-wrapper {
    position: relative;
    margin-bottom: $margin;
  }

  &__swiper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__slide-preview {
    display: flex;
    margin-bottom: $margin;
  }

  &__slider-btn {
    position: absolute;
    top: 29.5%;
    width: 42px;
    height: 42px;

    &:focus-visible {
      outline: 2px solid $blue;
      outline-offset: 3px;
    }
  }
}

.is-label-invalid {
  position: absolute;
  left: 32px;
  top: 9px;
  font-weight: 400;
  font-size: $very_small_fs;
  line-height: $smallest_lh;
}

.about__slider-btn--next {
  right: -75px;
}

.about__slider-btn--prev {
  left: -75px;
}

@media (width <= 1280px) {
  .about {
    padding: 94px 0 88px;

    &__text-wrapper {
      &::after {
        top: 50%;
        width: 255px;
        height: 255px;
        background-image: url("img/about-deco-tablet.webp");
        background-size: 255px 255px;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }
    }

    &__text {
      max-width: 539px;

      &:first-of-type {
        margin-bottom: 4px;
      }
    }

    &__slider-wrapper {
      margin-bottom: 36px;
    }

    &__slider-btn {
      top: 31.5%;
    }

    &__img {
      width: 100%;
    }
  }

  .about__slider-btn--next {
    right: -65px;
  }

  .about__slider-btn--prev {
    left: -65px;
  }
}

@media (width <= 1023px) {
  .about {
    &__text-wrapper {
      &::after {
        position: relative;
        left: -244px;
        top: auto;
        bottom: 0;
        width: 781px;
        height: 112px;
        background-image: url("img/about-deco-small-tablet.webp");
        background-size: contain;
        transform: none;
      }
    }

    &__text {
      &:last-of-type {
        margin-bottom: $margin;
      }
    }

    &__slider-wrapper {
      margin-bottom: 31px;
    }

    &__slider-btn {
      top: 30%;
    }

    &__form {
      width: 100%;
      max-width: none;
    }

    &__name-label {
      display: flex;
      margin-right: 0;
      margin-bottom: $margin;
      width: 100%;
    }

    &__email-label {
      display: flex;
      width: 100%;
    }
  }
}

@media (width <= 750px) {
  .about {
    &__slider-btn {
      display: none;
    }
  }
}

@media (width <= 576px) {
  .about {
    padding: 56px 0 47px;

    &__title {
      font-size: $small_title_fs;
      line-height: $big_lh;
    }

    &__text {
      font-size: $smaller_fs;
      line-height: 21px;

      &:last-of-type {
        line-height: 22px;
      }
    }

    &__slide-preview {
      margin-bottom: 12px;
    }

    &__slide-name {
      margin-bottom: 4px;
      max-width: 109px;
      font-size: $smaller_fs;
      line-height: 18px;
    }

    &__slide-desc {
      font-size: $very_small_fs;
      line-height: $small_lh;
    }

    &__text-wrapper {
      &::after {
        display: none;
      }
    }

    &__img {
      width: auto;
    }

    &__slider-wrapper {
      margin-bottom: $margin;
    }

    &__textarea {
      border-radius: 20px;
    }

    &__input {
      padding: 16px 23px;
      font-size: $small_fs;
      line-height: $small_lh;

      &::placeholder {
        font-size: $small_fs;
        line-height: $small_lh;
      }
    }

    &__btn {
      margin-bottom: 10px;
      padding: 17px 44px;
      font-size: $small_fs;
      line-height: $small_lh;
    }

    &__checkbox-text {
      font-size: 9px;
      line-height: 9px;
    }

    &__visible-checkbox {
      width: 13px;
      height: 13px;
    }

    &__slide {
      width: auto;
      max-width: 113px;
    }
  }

  .is-label-invalid {
    left: 24px;
    top: 4px;
  }
}
