.broadcasts {
  padding: 94px 0;
  background-color: $white;

  &__wrapper {
    display: flex;
  }

  &__left {
    display: flex;
    flex: 0 0 255px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: $margin;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
  }

  &__author {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: $small_fs;
    line-height: $small_lh;
    color: $dark_gray;
  }

  &__right {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 12px;
  }

  &__item {
    display: flex;
    margin-right: $margin;
    margin-bottom: $margin;
    width: calc(33.33% - 20px);

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__archive-wrapper {
    display: none;
  }
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  border-bottom: solid 1px $gray;
  font-weight: 400;
  font-size: $small_fs;
  line-height: $small_lh;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding: 12px;
}

.choices__item--selectable {
  font-weight: 400;
  font-size: $small_fs;
  line-height: $small_lh;
}

.choices__inner {
  position: relative;
  z-index: 10;
  border-color: $light_gray;
  border-radius: 10px;
  min-height: auto;
  background-color: $light_gray;
}

.is-focused .choices__inner {
  border-color: $blue;
}

.choices__inner:active {
  border-color: $gray;
  background-color: $gray;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-radius: 10px;
}

.is-open .choices__inner {
  border-radius: 10px;
}

.is-flipped.is-open .choices__inner {
  border-radius: 10px;
}

.choices__list--dropdown .choices__item--choice.is-selected {
  display: none;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  top: 55%;
  border-radius: 10px;
  padding-top: 18px;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  bottom: 45%;
  border-radius: 10px;
  padding-top: 7px;
}

.choices__list--single {
  padding: 10px 11px 12px;
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 0;
}

.choices__item--choice {
  color: $dark_gray;
}

.choices[data-type*="select-one"]::after {
  right: 15px;
  z-index: 20;
  margin-top: 0;
  border: none;
  width: 13px;
  height: 8px;
  background-image: url("img/arrow-up.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.choices[data-type*="select-one"].is-open::after {
  margin-top: 0;
  transform: translateY(-50%) rotate(180deg);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: $black;
  background-color: $dark_white;
}

.choices__list--dropdown .choices__item--selectable.is-focused {
  color: $black;
  background-color: $light_blue;
}

.choices__list--dropdown .choices__item--selectable.is-active {
  color: $black;
  background-color: $light_gray;
}

.archive {
  padding-top: 110px;
  background-image: url("img/mic-desktop.webp");
  background-position: top left;
  background-repeat: no-repeat;

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: $small_fs;
    line-height: $big_lh;
    color: $dark_gray;
  }

  &__btn {
    margin-bottom: 12px;
    border: 2px solid $black;
    border-radius: $big_border_radius;
    padding: 12px 55px;
    font-weight: 500;
    font-size: $small_fs;
    line-height: $small_lh;
  }
}

.broadcast {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;

  &__preview {
    display: flex;
    width: 100%;
  }

  &__img {
    width: 100%;
    transition: opacity .2s ease-in-out;
  }

  &__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: $light_gray solid 1px;
    border-top: none;
    padding: 20px 16px;
  }

  &__title-desc-wrapper {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: $fs;
    line-height: $lh;
  }

  &__desc {
    margin: 0;
    font-weight: 400;
    font-size: $very_small_fs;
    line-height: $smallest_lh;
    color: $dark_gray;
  }

  &__link {
    display: flex;
    align-items: center;
    transition: background-color .2s ease-in-out;

    &:focus-visible {
      outline: none;
      background-color: $light_blue;
    }

    &:focus-visible .broadcast__more {
      color: $white;
    }

    &:focus-visible .broadcast__svg path {
      fill: $white;
    }

    &:active .broadcast__svg-wrapper {
      margin-right: 0;
      padding-left: 6px;
    }

    &:active .broadcast__more {
      color: $dark_blue;
    }

    &:active .broadcast__svg path {
      fill: $dark_blue;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:focus-visible::before {
      outline: $blue solid 1px;
      outline-offset: 7px;
    }

    .broadcast__svg path {
      transition: fill .2s ease-out;
    }
  }

  &__svg-wrapper {
    display: flex;
    overflow: hidden;
    width: 36px;
    transition-property: margin-right, padding-left, margin-left;
    transition-duration: .3s;
  }

  &__svg {
    margin-left: -6px;
    width: 30px;
  }

  &__more {
    display: block;
    margin-right: 3px;
    font-weight: 400;
    font-style: italic;
    font-size: $small_fs;
    line-height: $small_lh;
    transition: color .2s ease-in-out;
  }
}

@media (width <= 1280px) {
  .broadcasts {
    padding: 93px 0;

    &__left {
      justify-content: flex-start;
    }

    &__title-label-wrapper {
      margin-bottom: 230px;
    }

    &__right {
      padding-top: 15px;
    }

    &__item {
      width: calc(50% - 15px);

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(odd) {
        margin-right: $margin;
      }

      &:nth-last-child(-n+3) {
        margin-bottom: $margin;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }

  .archive {
    &__btn {
      padding: 10px 55px;
    }
  }

  .broadcast {
    &__info {
      padding: 20px 14px;
    }
  }
}

@media (width <= 1023px) {
  .broadcasts {
    padding: 93px 0 29px;

    &__wrapper {
      flex-direction: column;
      padding-bottom: 58px;
    }

    &__left {
      flex: 0 0 auto;
      margin-right: 0;
      margin-bottom: 47px;
    }

    &__title-label-wrapper {
      margin-bottom: 0;
    }

    &__right {
      padding-top: 0;
    }

    &__archive-wrapper {
      display: flex;
      justify-content: center;
      border-top: $light_gray 1px solid;
      padding-top: 29px;
    }
  }

  .choices {
    max-width: 255px;
  }

  .archive {
    display: none;

    &__btn {
      margin-bottom: 7px;
    }
  }

  .tablet-archive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 90px;
    background-image: url("img/mic-tablet.webp");
    background-position: center left;
    background-repeat: no-repeat;

    .archive__text {
      max-width: 255px;
    }
  }
}

@media (width <= 576px) {
  .broadcasts {
    padding: 53px 0 13px;

    &__wrapper {
      padding-bottom: 29px;
    }

    &__left {
      margin-bottom: $margin;
    }

    &__title {
      margin-bottom: 20px;
      font-size: $small_title_fs;
      line-height: $big_lh;
    }

    &__author {
      margin-bottom: 6px;
      font-size: $very_small_fs;
      line-height: $smallest_lh;
    }

    &__archive-wrapper {
      padding-top: 14px;
    }
  }

  .broadcast {
    min-height: 149px;

    &__info {
      padding: 11px 10px 12px 9px;
    }

    &__title-desc-wrapper {
      margin-bottom: 18px;
    }

    &__title {
      font-size: $very_small_fs;
      line-height: $smallest_lh;
    }

    &__desc {
      font-size: 9px;
      line-height: 9px;
    }

    &__more {
      font-size: $very_small_fs;
      line-height: $smallest_lh;
    }
  }

  .tablet-archive {
    flex-direction: column-reverse;
    justify-content: center;
    min-height: 137px;
    background-image: url("img/mic-mobile.webp");
  }

  .archive {
    &__btn {
      margin-bottom: 0;
      padding: 9px 30px;
    }

    &__text {
      margin-bottom: 7px;
      font-size: $smaller_fs;
      line-height: 21px;
    }
  }
}
