.footer {
  padding: 90px 0 10px;
  background-image: url("img/footer-deco.webp");
  background-position: 0 88%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: $light_black;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 21px;

    &:focus-visible {
      outline: 1px solid $blue;
      outline-offset: 3px;
    }
  }

  &__svg {
    width: 160px;
    height: 20px;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
  }

  &__socials-item {
    &:first-child {
      padding-left: 2px;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__socials-svg {
    display: block;

    &:active path {
      fill: $dark_blue;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus-visible .footer__socials-svg path {
      fill: $light_blue;
    }

    path {
      transition: fill .2s ease-in-out;
    }
  }

  &__right {
    columns: auto 3;
    column-gap: 121px;
    list-style-type: none;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    max-width: 446px;
  }

  &__right-item {
    margin-bottom: 20px;
    line-height: $small_lh;
  }

  &__right-link {
    font-weight: 400;
    font-size: $small_fs;
    line-height: $small_lh;
    color: $white;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &:active {
      color: $dark_blue;
    }

    &:focus-visible {
      outline: none;
      color: $white;
      background-color: $light_blue;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: $small_fs;
    line-height: 17px;
    color: $dark_gray;
  }

  &__mobile-right {
    display: none;
  }
}

.reg {
  top: 0;
  bottom: 0;
  padding: 0 5px;
  font-size: 85%;
}

@media (width <= 1280px) {
  .footer {
    background-image: url("img/footer-deco-tablet.webp");

    &__logo {
      margin-bottom: 24px;
    }
  }
}

@media (width <= 1023px) {
  .footer {
    background-image: url("img/footer-deco-small-tablet.webp");
    background-position: 0 92.5%;

    &__wrapper {
      flex-direction: column;
      align-items: center;
      margin-bottom: 69px;
    }

    &__left {
      align-items: center;
      margin-bottom: 82px;
    }

    &__socials-item {
      &:not(:last-child) {
        margin-right: 27px;
      }
    }

    &__socials-svg {
      width: 30px;
      height: auto;
    }

    &__right {
      column-gap: 168px;
      max-width: 542px;
    }

    &__right-item {
      margin-bottom: $margin;
    }
  }
}

@media (width <= 750px) {
  .footer {
    padding: 53px 0 10px;

    &__wrapper {
      margin-bottom: 57px;
    }

    &__left {
      margin-bottom: 0;
    }

    &__right {
      column-count: 2;
      column-gap: 32px;
    }

    &__right-item {
      margin-bottom: 21px;
    }

    &__desktop-right {
      display: none;
    }

    &__mobile-right {
      display: block;
      margin-bottom: 29px;
      padding: 25px 0;
      background-color: $black;
    }
  }
}

@media (width <= 576px) {
  .footer {
    background-image: url("img/footer-deco-mobile.webp");
    background-position: 0 93.1%;

    &__right-link {
      font-size: $very_small_fs;
      line-height: $smallest_lh;
    }

    &__text {
      font-size: $very_small_fs;
      line-height: 12.4px;
    }
  }

  .reg {
    padding: 0 4px;
  }
}
