.playlists {
  padding: 96px 0;
  background-color: $white;

  &__wrapper {
    display: flex;
  }

  &__left {
    flex-shrink: 0;
    margin-right: $margin;
    max-width: 350px;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
  }

  &__radio-text {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: $small_fs;
    line-height: $small_lh;
    color: $dark_gray;
  }

  &__radio-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:active .playlists__visible-checkbox::before {
      background-image: url("img/radio-checked.svg");
      opacity: 1;
    }

    &:active .playlists__visible-checkbox {
      border-color: $blue;
    }
  }

  &__input-text {
    display: inline-block;
    font-weight: 400;
    font-size: $fs;
    line-height: $lh;
  }

  &__visible-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    border: 2px solid $dark_gray;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 27px;
      height: 27px;
      background-image: url("img/radio-checked.svg");
      background-position: center center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity .2s ease-in-out;
    }
  }

  &__input {
    &:checked~.playlists__visible-checkbox::before {
      opacity: 1;
    }

    &:checked~.playlists__visible-checkbox {
      border-color: $blue;
    }

    &:focus-visible+.playlists__visible-checkbox {
      outline: $blue 2px solid;
      outline-offset: 1px;
      border-color: $blue;
      background-color: $gray;
    }
  }

  &__text-wrapper {
    border-top: 1px solid $gray;
    padding-top: 38px
  }

  &__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: $small_fs;
    line-height: 22px;
    color: $dark_gray;
  }

  &__copyright-text {
    display: block;
    margin-bottom: 6px;
    font-weight: 300;
    font-style: italic;
    font-size: $small_fs;
    line-height: 22px;
    color: $dark_gray;
  }

  &__age {
    display: inline-block;
    border: 1px solid $dark_gray;
    border-radius: 100%;
    padding: 7px 4px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: $very_small_fs;
    line-height: $small_lh;
    color: $dark_gray;
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
  }

  &__item {
    display: flex;
    width: calc(25% - 22.5px);

    &:not(:nth-child(4n)) {
      margin-right: $margin;
    }

    &:not(:nth-last-child(-n+4)) {
      margin-bottom: $margin;
    }
  }

  &__tablet-text-wrapper {
    display: none;
  }

  &__swiper {
    display: none;
  }
}

.playlist {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  &__preview {
    display: flex;
  }

  &__info {
    flex-grow: 1;
    border: solid 1px $light_gray;
    border-top: none;
    padding: 16px 16px 15px;
    transition: background-color .2s ease-in-out;
  }

  &__btn {
    position: relative;

    &:focus-visible {
      outline: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    }

    &:active .playlist__btn-svg {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1.17);
    }

    &:active::before {
      background-color: $black;
      opacity: 0.8;
    }

    &:active+.playlist__info {
      border-color: $dark_blue;
      background-color: $dark_blue;
    }

    &:active+.playlist__info .playlist__name {
      color: $white;
    }

    &:active+.playlist__info .playlist__text {
      color: $white;
    }

    &:focus-visible .playlist__btn-svg {
      opacity: 1;
      visibility: visible;
    }

    &:focus-visible::before {
      background-color: $black;
      opacity: 0.8;
    }

    &:focus-visible+.playlist__info {
      border-color: $light_blue;
      background-color: $light_blue;
    }

    &:focus-visible+.playlist__info .playlist__text {
      color: $black;
    }
  }

  &__svg-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    background-color: $black;

    svg {
      display: block;
    }
  }

  &__btn-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    display: block;
    width: 42px;
    height: 42px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  }

  &__name {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: $small_fs;
    line-height: $small_lh;
    transition: color .2s ease-in-out;
  }

  &__text {
    display: block;
    font-weight: 400;
    font-size: $very_small_fs;
    line-height: $smallest_lh;
    color: $dark_gray;
    transition: color .2s ease-in-out;
  }
}

@media (width <= 1280px) {
  .playlists {
    padding: 94px 0 93px;

    &__wrapper {
      flex-direction: column;
    }

    &__left {
      margin-right: 0;
      margin-bottom: 31px;
      max-width: none;
    }

    &__radio-wrapper {
      flex-wrap: wrap;
      align-content: flex-start;
      margin: 0;
      width: 100%;
      max-height: 168px;
    }

    &__label {
      white-space: nowrap;

      &:not(:nth-last-child(-n+4)) {
        margin-right: 34px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:nth-child(4n) {
        margin-bottom: 0;
      }
    }

    &__text-wrapper {
      display: none;
    }

    &__right {
      margin-bottom: 42px;
      padding-top: 0;
    }

    &__item {
      width: calc(100% / 3 - 20px);

      &:not(:nth-child(4n)) {
        margin-right: 0;
      }

      &:not(:nth-last-child(-n+4)) {
        margin-bottom: 0;
      }

      &:not(:nth-child(3n)) {
        margin-right: $margin;
      }

      &:not(:nth-last-child(-n+3)) {
        margin-bottom: $margin;
      }
    }

    &__tablet-text-wrapper {
      display: block;
      border-top: 1px solid $gray;
      padding-top: 38px
    }
  }

  .playlist {
    flex-direction: row;
    align-items: stretch;

    &__svg-wrapper {
      left: 0;
      max-width: 24px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: solid 1px $light_gray;
      border-left: none;
      padding: 0 8px 0 10px;
    }
  }
}

@media (width <= 1023px) {
  .playlists {
    &__left {
      margin-bottom: 49px;
    }

    &__radio-wrapper {
      max-height: 244px;
    }

    &__label:not(:last-child) {
      margin-bottom: 35px;
    }

    &__label:nth-child(4n) {
      margin-bottom: 0;
    }

    &__item {
      width: calc(50% - 15px);

      &:not(:nth-child(3n)) {
        margin-right: 0;
      }

      &:not(:nth-last-child(-n+3)) {
        margin-bottom: 0;
      }

      &:not(:nth-child(2n)) {
        margin-right: $margin;
      }

      &:not(:nth-last-child(-n+2)) {
        margin-bottom: $margin;
      }
    }
  }
}

@media (width <= 750px) {
  .playlists {
    &__radio-wrapper {
      display: none;
    }

    &__swiper {
      display: block;
    }

    &__swiper-wrapper {
      .swiper-slide {
        width: auto;
      }
    }

    &__slide-btn {
      border: solid 2px $blue;
      border-radius: $big_border_radius;
      padding: 7px 19px;
      font-weight: 500;
      font-size: $small_fs;
      line-height: $small_lh;
      white-space: nowrap;
      text-align: center;
      color: $blue;

      &.playlists__slide-btn--active {
        color: $white;
        background-color: $blue;
      }
    }
  }
}

@media (width <= 576px) {
  .playlists {
    padding: 54px 0 52px;

    &__left {
      margin-bottom: 32px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: $small_title_fs;
      line-height: $big_lh;
    }

    &__radio-text {
      margin-bottom: 6px;
      font-size: $very_small_fs;
      line-height: $smallest_lh;
    }

    &__right {
      margin-bottom: 23px;
    }

    &__paragraph {
      font-size: $very_small_fs;
      line-height: $small_lh;
    }

    &__copyright-text {
      font-size: $very_small_fs;
    }
  }

  .playlist {
    flex-direction: column;

    &__preview {
      width: 100%;
      max-width: none;
    }

    &__img {
      width: 100%;
      max-width: none;
    }

    &__info {
      border-top: none;
      border-left: solid 1px $light_gray;
      padding: 10px 8px 10px 10px;
    }

    &__name {
      font-size: $very_small_fs;
      line-height: $smallest_lh;
    }

    &__text {
      font-size: 9px;
      line-height: 9px;
    }

    &__svg-wrapper {
      left: auto;
      right: 0;
    }
  }
}
