.podcasts {
  padding: 94px 0;
  background-color: $light_gray;

  &__title {
    margin: 0;
    margin-bottom: $margin;
  }

  &__item {
    display: flex;
    width: calc(50% - 15px);

    &:nth-child(2n+1) {
      margin-right: $margin;
    }

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: $margin;
    }

    &:nth-last-child(-n+4) {
      display: none;
    }

    &.podcasts__item--visible {
      display: flex;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
  }

  &__btn {
    margin: 0 auto;
    border: 2px solid $blue;
    border-radius: $border_radius;
    padding: 23px 54px 24px;
    font-weight: 500;
    line-height: $lh;
    color: $blue;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    &:focus-visible {
      outline: none;
      border-color: $blue;
      color: $white;
      background-color: $light_blue;
    }

    &:active {
      border-color: $dark_blue;
      color: $white;
      background-color: $dark_blue;
    }

    &.podcasts__btn--hidden {
      display: none;
    }
  }
}

.podcast {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: $white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__info-btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 21px 31px 0 30px;
  }

  &__info {
    max-width: 300px;
  }

  &__preview {
    display: flex;
  }

  &__img {
    max-width: 112px;
    object-fit: contain;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    border-top: 1px solid $light_gray;
    padding: 0;
    padding-left: 30px;
  }

  &__action {
    &:not(:last-child) {
      margin-right: $margin;
    }
  }

  &__length {
    display: block;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: $very_small_fs;
    line-height: $smallest_lh;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: $fs;
    line-height: $lh;
  }

  &__author {
    display: block;
    font-weight: 400;
    font-size: $small_fs;
    line-height: $small_lh;
    color: $dark_gray;
  }

  &__svg {
    margin-right: 1px;
  }

  &__text {
    font-weight: 400;
    font-size: $small_fs;
    line-height: $small_lh;
    color: $dark_gray;
  }

  &__btn {
    align-self: center;
    width: 48px;
    height: 48px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:focus-visible {
      outline: none;
    }

    &:active .podcast__btn-svg path {
      fill: $white;
    }

    &:active .podcast__btn-svg circle {
      fill: $dark_blue;
      stroke: $dark_blue;
    }

    &:focus-visible .podcast__btn-svg path {
      fill: $light_blue;
    }

    &:focus-visible .podcast__btn-svg circle {
      stroke: $light_blue;
    }

    &:active .pause-path {
      fill: $white;
    }

    &:focus-visible .pause-path {
      stroke: $light_blue;
    }

    .pause-path {
      display: none;
    }

    &.podcast__btn--toggle .play-path {
      display: none;
    }

    &.podcast__btn--toggle .pause-path {
      display: block;
    }
  }

  &__btn-svg {
    path {
      transition: fill .2s ease-in-out, stroke .2s ease-in-out;
    }

    circle {
      transition: fill .2s ease-in-out, stroke .2s ease-in-out;
    }

    rect {
      transition: fill .2s ease-in-out, stroke .2s ease-in-out;
    }
  }

  &__time {
    position: absolute;
    left: -1px;
    bottom: -3px;
    padding: 4px 7px 7px 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    background-color: $light_gray;
  }
}

@media (width <= 1280px) {
  .podcast {
    &__info-btn-wrapper {
      padding: 23px 31px 0 30px;
    }
  }

  .podcasts {
    padding: 94px 0 93px;
  }
}

@media (width <= 1023px) {
  .podcasts {
    padding: 96px 0;

    &__list {
      margin-bottom: $margin;
    }

    &__item {
      width: 100%;

      &:nth-child(2n+1) {
        margin-right: 0;
      }

      &:nth-last-child(n+2) {
        margin-bottom: $margin;
      }
    }
  }
}

@media (width <= 576px) {
  .podcasts {
    padding: 54px 0;

    &__title {
      margin-bottom: 20px;
      font-size: $small_title_fs;
      line-height: $big_lh;
    }

    &__list {
      margin-bottom: 0;
    }

    &__item {
      margin-bottom: 31px;

      &:nth-last-child(n+2) {
        margin-bottom: 31px;
      }

      &:nth-last-child(-n+8) {
        display: none;
      }

      &.podcasts__item--visible {
        display: block;
      }
    }
  }

  .podcast {
    flex-direction: column;

    &__info-btn-wrapper {
      align-items: center;
      padding: 15px 16px 16px;
    }

    &__img {
      width: 100%;
      max-width: none;
    }

    &__title {
      font-size: $small_fs;
      line-height: $small_lh;
    }

    &__author {
      font-size: $very_small_fs;
      line-height: $smallest_lh;
    }

    &__text {
      font-size: $very_small_fs;
      line-height: $smallest_lh;
    }

    &__actions {
      padding: 6px 0 7px 34px;
    }

    &__action {
      display: flex;
      align-items: center;
    }

    &__svg {
      margin-right: 6px;
    }

    &__time {
      top: -1px;
      bottom: auto;
      padding: 4px 8px 2px 9px;
    }

    &__btn {
      padding: 16px 29px;
      width: 36px;
      height: 36px;
      font-size: $small_fs;
      line-height: $small_lh;

      svg {
        width: 36px;
        height: 36px;
      }
    }
  }
}
