$fs: 20px;
$title_fs: 48px;
$small_title_fs: 24px;
$small_fs: 16px;
$smaller_fs: 14px;
$very_small_fs: 12px;

$title_lh: 48px;
$biggest_lh: 32px;
$big_lh: 24px;
$lh: 20px;
$small_lh: 16px;
$smaller_lh: 14px;
$smallest_lh: 12px;

$white: white;
$black: #121723;
$light_black: #292E39;
$dark_gray: #A1A6B4;
$gray: #D2D5DD;
$light_gray: #E6E8EC;
$dark_yellow: #BB973E;
$yellow: #F0D288;
$dark_blue: #4F28A5;
$blue: #6D31EE;
$light_blue: #AA9DFA;
$dark_white: #F5F6F7;

$margin: 30px;
$big_border_radius: 77px;
$border_radius: 40px;
$smaller_border_radius: 30px;
