include ../utils/guestAcItem

section#guests.guests
  .container
    h2.guests__title.section-title Гости
    span.guests__text У нас бывают:
    p.guests__desc
      | Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди
      | науки, историки, филологи и много других интересных гостей!
    .guests__ac-tabs-wrapper
      ul.guests__ac-container
        -
          const guestAcList = [
            {
              type: 'Блогеры',
              guests: [
                {name: 'Сергей Денисов', active: false},
                {name: 'Матвей Мечников', active: false},
                {name: 'Константин Прусино', active: false},
                {name: 'Иван Калитников', active: false},
                {name: 'Евгений Войновский', active: false},
                {name: 'Ольга Мартынова', active: true},
                {name: 'Дмитрий Михалок', active: false},
                {name: 'Пётр Пиотровский', active: false},
                {name: 'Олег Свиридовский', active: false},
                {name: 'Владислав Кауперс', active: false},
                {name: 'Михаил Пожитников', active: false},
                {name: 'Георгий Полуян', active: false},
                {name: 'Денис Тельман', active: false},
                {name: 'Юрий Горин', active: false},
                {name: 'Максим Сергеев', active: false},
              ]
            },
            {
              type: 'Арт-критики',
              guests: [
                {name: 'Сергей Денисов', active: false},
                {name: 'Матвей Мечников', active: false},
                {name: 'Константин Прусино', active: false},
                {name: 'Иван Калитников', active: false},
              ]
            },
            {
              type: 'Художники',
              guests: [
                {name: 'Сергей Денисов', active: false},
                {name: 'Матвей Мечников', active: false},
                {name: 'Константин Прусино', active: false},
                {name: 'Иван Калитников', active: false},
              ]
            },
            {
              type: 'Люди науки',
              guests: [
                {name: 'Сергей Денисов', active: false},
                {name: 'Матвей Мечников', active: false},
                {name: 'Константин Прусино', active: false},
                {name: 'Иван Калитников', active: false},
              ]
            },
            {
              type: 'Историки',
              guests: [
                {name: 'Сергей Денисов', active: false},
                {name: 'Матвей Мечников', active: false},
                {name: 'Константин Прусино', active: false},
                {name: 'Иван Калитников', active: false},
              ]
            },
            {
              type: 'Филологи',
              guests: [
                {name: 'Сергей Денисов', active: false},
                {name: 'Матвей Мечников', active: false},
                {name: 'Константин Прусино', active: false},
                {name: 'Иван Калитников', active: false},
              ]
            }
          ]
        each guestAcItem in guestAcList
          +guestAcItem(guestAcItem.type, guestAcItem.guests)
      .guests__tabs
        article#no-guest.guests__tab.tab(data-target='one')
          picture.tab__preview
            source(srcset='img/no-guest-mobile.webp' media='(max-width: 576px)')
            source(srcset='img/no-guest-small-tablet.webp' media='(max-width: 1023px)')
            source(srcset='img/no-guest-tablet.webp' media='(max-width: 1280px)')
            img.tab__img(src='img/no-guest.webp' alt='Гость')
          ul.tab__socials
            li.tab__socials-item
              a.tab__socials-link(href='#' aria-label='Инстаграм')
                svg.tab__socials-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M10 0C12.717 0 13.056 0.00999994 14.122 0.0599999C15.187 0.11 15.912 0.277 16.55 0.525C17.21 0.779 17.766 1.123 18.322 1.678C18.8305 2.1779 19.224 2.78259 19.475 3.45C19.722 4.087 19.89 4.813 19.94 5.878C19.987 6.944 20 7.283 20 10C20 12.717 19.99 13.056 19.94 14.122C19.89 15.187 19.722 15.912 19.475 16.55C19.2247 17.2178 18.8311 17.8226 18.322 18.322C17.822 18.8303 17.2173 19.2238 16.55 19.475C15.913 19.722 15.187 19.89 14.122 19.94C13.056 19.987 12.717 20 10 20C7.283 20 6.944 19.99 5.878 19.94C4.813 19.89 4.088 19.722 3.45 19.475C2.78233 19.2245 2.17753 18.8309 1.678 18.322C1.16941 17.8222 0.775931 17.2175 0.525 16.55C0.277 15.913 0.11 15.187 0.0599999 14.122C0.0129999 13.056 0 12.717 0 10C0 7.283 0.00999994 6.944 0.0599999 5.878C0.11 4.812 0.277 4.088 0.525 3.45C0.775236 2.78218 1.1688 2.17732 1.678 1.678C2.17767 1.16923 2.78243 0.775729 3.45 0.525C4.088 0.277 4.812 0.11 5.878 0.0599999C6.944 0.0129999 7.283 0 10 0ZM10 5C8.67392 5 7.40215 5.52678 6.46447 6.46447C5.52678 7.40215 5 8.67392 5 10C5 11.3261 5.52678 12.5979 6.46447 13.5355C7.40215 14.4732 8.67392 15 10 15C11.3261 15 12.5979 14.4732 13.5355 13.5355C14.4732 12.5979 15 11.3261 15 10C15 8.67392 14.4732 7.40215 13.5355 6.46447C12.5979 5.52678 11.3261 5 10 5ZM16.5 4.75C16.5 4.41848 16.3683 4.10054 16.1339 3.86612C15.8995 3.6317 15.5815 3.5 15.25 3.5C14.9185 3.5 14.6005 3.6317 14.3661 3.86612C14.1317 4.10054 14 4.41848 14 4.75C14 5.08152 14.1317 5.39946 14.3661 5.63388C14.6005 5.8683 14.9185 6 15.25 6C15.5815 6 15.8995 5.8683 16.1339 5.63388C16.3683 5.39946 16.5 5.08152 16.5 4.75ZM10 7C10.7956 7 11.5587 7.31607 12.1213 7.87868C12.6839 8.44129 13 9.20435 13 10C13 10.7956 12.6839 11.5587 12.1213 12.1213C11.5587 12.6839 10.7956 13 10 13C9.20435 13 8.44129 12.6839 7.87868 12.1213C7.31607 11.5587 7 10.7956 7 10C7 9.20435 7.31607 8.44129 7.87868 7.87868C8.44129 7.31607 9.20435 7 10 7Z' fill='#A1A6B4')
            li.tab__socials-item
              a.tab__socials-link(href='#' aria-label='Фейсбук')
                svg.tab__socials-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M13.78 20V12.26H16.3722L16.76 9.25111H13.78V7.33111C13.78 6.46 14.0222 5.86556 15.2711 5.86556H16.8644V3.17444C16.0931 3.09261 15.3179 3.05292 14.5422 3.05556C12.2456 3.05556 10.6733 4.45778 10.6733 7.03333V9.25111H8.07556V12.26H10.6733V20H1.11111C0.816426 20 0.533811 19.8829 0.325437 19.6746C0.117063 19.4662 0 19.1836 0 18.8889V1.11111C0 0.816426 0.117063 0.533811 0.325437 0.325437C0.533811 0.117063 0.816426 0 1.11111 0H18.8889C19.1836 0 19.4662 0.117063 19.6746 0.325437C19.8829 0.533811 20 0.816426 20 1.11111V18.8889C20 19.1836 19.8829 19.4662 19.6746 19.6746C19.4662 19.8829 19.1836 20 18.8889 20H13.78Z' fill='#A1A6B4')
            li.tab__socials-item
              a.tab__socials-link.socials-link-three(href='#' aria-label='Твиттер')
                svg.tab__socials-svg(width='32' height='26' viewBox='0 0 32 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M31.2434 3.48389C30.0983 3.99043 28.8839 4.3231 27.6404 4.47089C28.9511 3.68704 29.932 2.45341 30.4004 0.99989C29.1704 1.73189 27.8219 2.24489 26.4164 2.52239C25.4724 1.51226 24.221 0.842335 22.8569 0.616767C21.4928 0.391199 20.0924 0.622626 18.8733 1.27507C17.6543 1.92751 16.685 2.96442 16.1161 4.22458C15.5472 5.48474 15.4106 6.89756 15.7274 8.24339C13.2331 8.11837 10.7929 7.47018 8.56538 6.34089C6.33781 5.2116 4.37264 3.62646 2.79745 1.68839C2.23988 2.64607 1.94688 3.73473 1.94845 4.84289C1.94845 7.01789 3.05545 8.93939 4.73845 10.0644C3.74246 10.033 2.76839 9.76406 1.89745 9.27989V9.35789C1.89775 10.8064 2.399 12.2103 3.31622 13.3315C4.23343 14.4526 5.51017 15.2221 6.92994 15.5094C6.00537 15.7599 5.03591 15.7969 4.09495 15.6174C4.49525 16.8642 5.27546 17.9547 6.32633 18.7361C7.37721 19.5174 8.64614 19.9506 9.95545 19.9749C8.65417 20.9969 7.16421 21.7524 5.57077 22.1981C3.97732 22.6439 2.31164 22.7713 0.668945 22.5729C3.53649 24.417 6.87459 25.3961 10.2839 25.3929C21.8234 25.3929 28.1339 15.8334 28.1339 7.54289C28.1339 7.27289 28.1264 6.99989 28.1144 6.73289C29.3427 5.84514 30.4028 4.74542 31.2449 3.48539L31.2434 3.48389Z' fill='#A1A6B4')
          h3.tab__name Гость
          p.tab__desc
            | Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат
            | культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как
            | куратор музея «Гараж», коим является с 2016 года.
          button.tab__btn.btn Эфиры с гостем
        article#first-guest.guests__tab.tab.guests__tab--active(data-target='two')
          picture.tab__preview
            source(srcset='img/guest-one-mobile.webp' media='(max-width: 576px)')
            source(srcset='img/guest-one-small-tablet.webp' media='(max-width: 1023px)')
            source(srcset='img/guest-one-tablet.webp' media='(max-width: 1280px)')
            img.tab__img(src='img/guest-one.webp' alt='Ольга Мартынова')
          ul.tab__socials
            li.tab__socials-item
              a.tab__socials-link(href='#' aria-label='Инстаграм')
                svg.tab__socials-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M10 0C12.717 0 13.056 0.00999994 14.122 0.0599999C15.187 0.11 15.912 0.277 16.55 0.525C17.21 0.779 17.766 1.123 18.322 1.678C18.8305 2.1779 19.224 2.78259 19.475 3.45C19.722 4.087 19.89 4.813 19.94 5.878C19.987 6.944 20 7.283 20 10C20 12.717 19.99 13.056 19.94 14.122C19.89 15.187 19.722 15.912 19.475 16.55C19.2247 17.2178 18.8311 17.8226 18.322 18.322C17.822 18.8303 17.2173 19.2238 16.55 19.475C15.913 19.722 15.187 19.89 14.122 19.94C13.056 19.987 12.717 20 10 20C7.283 20 6.944 19.99 5.878 19.94C4.813 19.89 4.088 19.722 3.45 19.475C2.78233 19.2245 2.17753 18.8309 1.678 18.322C1.16941 17.8222 0.775931 17.2175 0.525 16.55C0.277 15.913 0.11 15.187 0.0599999 14.122C0.0129999 13.056 0 12.717 0 10C0 7.283 0.00999994 6.944 0.0599999 5.878C0.11 4.812 0.277 4.088 0.525 3.45C0.775236 2.78218 1.1688 2.17732 1.678 1.678C2.17767 1.16923 2.78243 0.775729 3.45 0.525C4.088 0.277 4.812 0.11 5.878 0.0599999C6.944 0.0129999 7.283 0 10 0ZM10 5C8.67392 5 7.40215 5.52678 6.46447 6.46447C5.52678 7.40215 5 8.67392 5 10C5 11.3261 5.52678 12.5979 6.46447 13.5355C7.40215 14.4732 8.67392 15 10 15C11.3261 15 12.5979 14.4732 13.5355 13.5355C14.4732 12.5979 15 11.3261 15 10C15 8.67392 14.4732 7.40215 13.5355 6.46447C12.5979 5.52678 11.3261 5 10 5ZM16.5 4.75C16.5 4.41848 16.3683 4.10054 16.1339 3.86612C15.8995 3.6317 15.5815 3.5 15.25 3.5C14.9185 3.5 14.6005 3.6317 14.3661 3.86612C14.1317 4.10054 14 4.41848 14 4.75C14 5.08152 14.1317 5.39946 14.3661 5.63388C14.6005 5.8683 14.9185 6 15.25 6C15.5815 6 15.8995 5.8683 16.1339 5.63388C16.3683 5.39946 16.5 5.08152 16.5 4.75ZM10 7C10.7956 7 11.5587 7.31607 12.1213 7.87868C12.6839 8.44129 13 9.20435 13 10C13 10.7956 12.6839 11.5587 12.1213 12.1213C11.5587 12.6839 10.7956 13 10 13C9.20435 13 8.44129 12.6839 7.87868 12.1213C7.31607 11.5587 7 10.7956 7 10C7 9.20435 7.31607 8.44129 7.87868 7.87868C8.44129 7.31607 9.20435 7 10 7Z' fill='#A1A6B4')
            li.tab__socials-item
              a.tab__socials-link(href='#' aria-label='Фейсбук')
                svg.tab__socials-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M13.78 20V12.26H16.3722L16.76 9.25111H13.78V7.33111C13.78 6.46 14.0222 5.86556 15.2711 5.86556H16.8644V3.17444C16.0931 3.09261 15.3179 3.05292 14.5422 3.05556C12.2456 3.05556 10.6733 4.45778 10.6733 7.03333V9.25111H8.07556V12.26H10.6733V20H1.11111C0.816426 20 0.533811 19.8829 0.325437 19.6746C0.117063 19.4662 0 19.1836 0 18.8889V1.11111C0 0.816426 0.117063 0.533811 0.325437 0.325437C0.533811 0.117063 0.816426 0 1.11111 0H18.8889C19.1836 0 19.4662 0.117063 19.6746 0.325437C19.8829 0.533811 20 0.816426 20 1.11111V18.8889C20 19.1836 19.8829 19.4662 19.6746 19.6746C19.4662 19.8829 19.1836 20 18.8889 20H13.78Z' fill='#A1A6B4')
            li.tab__socials-item
              a.tab__socials-link.socials-link-three(href='#' aria-label='Твиттер')
                svg.tab__socials-svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M22.1621 5.65593C21.3986 5.99362 20.589 6.2154 19.7601 6.31393C20.6338 5.79136 21.2878 4.96894 21.6001 3.99993C20.7801 4.48793 19.8811 4.82993 18.9441 5.01493C18.3147 4.34151 17.4804 3.89489 16.571 3.74451C15.6616 3.59413 14.728 3.74842 13.9153 4.18338C13.1026 4.61834 12.4564 5.30961 12.0772 6.14972C11.6979 6.98983 11.6068 7.93171 11.8181 8.82893C10.1552 8.74558 8.52838 8.31345 7.04334 7.56059C5.55829 6.80773 4.24818 5.75097 3.19805 4.45893C2.82634 5.09738 2.63101 5.82315 2.63205 6.56193C2.63205 8.01193 3.37005 9.29293 4.49205 10.0429C3.82806 10.022 3.17869 9.84271 2.59805 9.51993V9.57193C2.59825 10.5376 2.93242 11.4735 3.5439 12.221C4.15538 12.9684 5.00653 13.4814 5.95305 13.6729C5.33667 13.84 4.69036 13.8646 4.06305 13.7449C4.32992 14.5762 4.85006 15.3031 5.55064 15.824C6.25123 16.3449 7.09718 16.6337 7.97005 16.6499C7.10253 17.3313 6.10923 17.8349 5.04693 18.1321C3.98464 18.4293 2.87418 18.5142 1.77905 18.3819C3.69075 19.6114 5.91615 20.264 8.18905 20.2619C15.8821 20.2619 20.0891 13.8889 20.0891 8.36193C20.0891 8.18193 20.0841 7.99993 20.0761 7.82193C20.8949 7.23009 21.6017 6.49695 22.1631 5.65693L22.1621 5.65593Z' fill='#A1A6B4')
          h3.tab__name Ольга Мартынова
          p.tab__desc
            | Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат
            | культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как
            | куратор музея «Гараж», коим является с 2016 года.
          button.tab__btn.btn Эфиры с гостем
