section.hero
  .container
    .hero__wrapper
      .hero__content
        h1.hero__title
          | Радио
          span.hero__text W-Wave
        p.hero__desc
          | Привет, на связи W-Wave! Раньше мы были изданием, а теперь пробуем
          | себя
          | в разоворном жанре. Говорим о музыке, политике, истории, науке и культуре. Здесь, помимо
          | прямого эфира — архив передач и многое другое:)
        button.hero__btn.btn Слушать эфир
      picture.hero__preview
        source(srcset='img/microphone-tablet.webp' media='(max-width: 1280px)')
        img.hero__img(src='img/microphone.webp' alt='Микрофон')
