link(rel='preload', href='fonts/MullerRegular.woff', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerRegular.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerRegularItalic.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerRegularItalic.woff', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerBold.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerBold.woff', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerLightItalic.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerLightItalic.woff', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerMedium.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/MullerMedium.woff', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/OpenSansRegular.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/OpenSansRegular.woff', as='font', crossorigin='anonymous')
link(rel='stylesheet', href='libs/accordion.min.css')
link(rel='stylesheet', href='libs/choices.min.css')
link(rel='stylesheet', href='libs/swiper.min.css')
link(rel='stylesheet', href='style.css')
link(rel='icon', href='favicon.ico')
link(rel='icon', href='favicons/icon.svg', type='image/svg+xml')
link(rel='apple-touch-icon', href='favicons/apple-icon.png', type='image/png')
link(rel='manifest', href='manifest.webmanifest')
